// Place all the styles related to the api/chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatroomList {
  length: 100%;
}

.thischord {
  display: flex;
  background-image: image-url("Discord-Logo2.png");
  background-size: contain;
  height: 90px;
  filter: invert(100%);
}

.channel_text_and_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.channel_text {
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 12px;
  padding-left: 10px;
}

.channel_button {
  height: 20px;
  width: 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  opacity: 0.6;
  background-color: #2C2F33;
  border: none;
  cursor: pointer;
  transform: translateY(-10%);
}

.channel_button:hover {
  color: white;
  opacity: 1;
}

.chatroom_index {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 187px);
  overflow-y: scroll;
}

.chatroom_index_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  opacity: 0.4;
  height: 100%;
}

.chatroom_index_item:active {
  color: white;
  background: transparentize(#2C2F33, 0.2);
}

.chatroom_index_item:hover {
  -webkit-filter: brightness(150%);
  color: white;
  opacity: 1;
  background: transparentize(#2C2F33, 0.2);
}


.chatroom_name {
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow-x: scroll;
}

.chatroom_delete_button {
  height: 20px;
  width: 20px;
  font-weight: bold;
  color: white;
  background-color: #2C2F33;
  border: none;
  cursor: pointer;
}

.chatroom_delete_button:hover {
  color: red;
  opacity: 1;
}

.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #414347;
  border-radius: 3px;
}

.share_invite {
  color: #7289DA;

}

.share_link {
  border-color: white;
  color: #99AAB5;
  word-wrap: break-word;
}
