
.home_container {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: row;
}


.home_outer_sidebar_left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 6.875em;
  background-color: #1e2124;
  min-width: 60px;
  max-width: 60px;
}

.home_inner_sidebar_left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 15em;
  background-color: #2C2F33;
}

.home_message_container {
  display: flex;
  height: 100vh;
  width: 90%;
  flex-direction: column;
  background-color: #36393f;
  align-content: flex-end;
}

.home_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.welcome {
  display: flex;
  position: fixed;
  margin-left: 11px;
  border: 1px;
  padding: 2px 8px;
  length: 100%;
}

.home_sidebar_right {
  display: flex;
  height: 100vh;
  min-width: 15em;
  background-color: #2f3136;
}

.username_and_id_wrapper {
    display: flex;
    flex-direction: column;
}

.user_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon_2 {
  display: flex;
  width: 38px;
  height: 42px;
  background-image: image-url("discord_icon_2.png");
  padding: 0px 5px;
  // transform: translateY(-6%);
  background-repeat: no-repeat;
  background-color: #272a2d;
}


.username {
color: white;
overflow: hidden;
}

.userid {
color: white;
font-size: 10px;
opacity: 0.55;
}

.logout {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 52px;
  align-items: center;
  background-color: #272a2d;
  position: absolute;
  bottom: 0;
  min-width: 13.75em;
}

.logout_button {
  border: none;
  background-color: #272a2d;
  color: #C80000;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  cursor: pointer;
}
