
.home_container {
  display: flex;
  height: 100vh;
  // background-image: image-url("dota-2-wallpaper-4.jpg");
  flex-direction: row;
}


.home_sidebar_left {
  display: flex;
  height: 100%;
  min-width: 70px;
  background-color: red;
}

.home_direct-messages {
  display: flex;
  height: 100%;
  min-width: 240px;
  background-color: blue;
}

.home_message_container {
  display: flex;
  height: 100%;
  min-width: 890px;
  flex-direction: column;
  background-color: #36393f;
}

.home_header {
  display: flex;
  align-items: flex-start;
  length: 890px;
  height: 56px;
}

.home_sidebar_right {
  display: flex;
  height: 100%;
  min-width: 240px;
  background-color: green;
}
