.home_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.welcome {
  display: flex;
  position: fixed;
  margin-left: 11px;
  border: 1px;
  padding: 2px 8px;
  length: 100%;
}

.messages_scroller {
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: scroll;
  background-color: #36393e;
  height: calc(100vh - 152px);
  min-height: 570px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.messages {
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 6px;
  border-bottom: 1px solid hsla(0,0%,100%,.04);
}

.message_author_date {
  display: flex;
  min-width: 100%;
  align-items: baseline;
}

.icon_image {
  display: flex;
  align-self: flex-start;
  justify-content: center;

}

.icon {
  display: flex;
  width: 38px;
  height: 42px;
  background-image: image-url("discord_icon.png");
  padding-right: 20px;
  transform: translateY(-11%);
  background-repeat: no-repeat;
}

.icon.resize {

}

// .message_wrapper {
//   display: flex;
//   width: 90%;
//   justify-content: space-between;
//
// }

.message_author {
  display: flex;
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.message_date {
  display: flex;
  color: white;
  opacity: .2;
  margin-left: 6px;
  font-weight: 400;
  font-size: 0.70rem;
}

.message_body_button {
  display: flex;
  justify-content: space-between;
  width: 1320px;
}

.message_body {
  display: flex;
  color: white;
  opacity: .7;
  font-size: .9375rem;
  line-height: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 6px;
}

.message_button {
  display: flex;
}

.message_container {
  display: flex;
  vertical-align: baseline;
  margin-top: auto;
  position: fixed;
}

.empty {
  display: flex;
  height: 84.1vh;
}

.message_form {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 0 20px;
  height: 96px;
}

.message_input {
  display: flex;
  align-self: center;
  color: white;
  background-color: rgba(255,255,255,0.06);
  border-color: #36393f;
  border-radius: 5px;
  border-style: solid;
  margin: 10px;
  width: 90%;
  height: 10%;
  padding: 10px;
  padding-left: 47px;
  font-size: 14px;
}
