// .message_form {
//   width: 100%;
// }
//
// .message_input {
//   display: flex;
//   color:  white;
//   background-color: #99AAB5;
//   // border-width: 20px;
//   border-color: #36393f;
//   border-style: solid;
//   width: 100%;
//   height: 100%;
//   border-top: 1px, solid white;
//   border-radius: 3px;
// }

.messages_scroller {
  overflow: auto;
  overflow: scroll;
  height: 470px;
}


.messages {
  display: flex;
  margin: 10px;
  margin-left: 20px;
  overflow: hidden;
  height: 40px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message_body {
  display: flex;
}

.message_button {
  display: flex;
}

.home-sidebar-left {
  border: 1px;
  border-color: red;
}
