.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 366px;
  width: 440px;
  left: 50%;
  right: 50%;
  border: solid 1px black;
  transform: translate(-50%, +125%);
  max-width: 660px;
  max-height: 200px;
  background-color: #36393f;
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
}

.dm_modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 400px;
  width: 440px;
  left: 50%;
  right: 50%;
  border: solid 1px black;
  transform: translate(-50%, +50%);
  max-width: 660px;
  background-color: #36393f;
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
}

.modal_backdrop {
  background-color: black;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 10;
  opacity: .93;
}

.modalwrapper {
  display: flex;
  justify-content: center;
}

.modal_header {
  width: 100%;
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  padding: 10px;
  font-size: 18px;
}

.modal_form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_input_name {
  color: white;
  opacity: 0.7;
  font-size: 13px;
  margin: 10px;
  margin-right: auto;
}

.modal_input {
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  border-color: rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.1);
  padding: 10px;
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  width: 90%;
  margin: 2%;
}

.modal_button2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #2f3136;
}

.modal_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50%;
  margin: 2%;
}

.modal_create_button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font: white;
  background-color: #7289DA;
  color: white;
  height: 38px;
  width: 123px;
  font-size:15px;
  border: none;
  justify-content: center;
  border-radius: 3px;
  font-family: 'Mukta Mahee', sans-serif;
}

.fake_form {
  display: flex;
  height: 30px;
  width: 90%;
  border: rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.1);
  margin: 10px;
  padding: 2px;
  justify-content: center;
  align-content: center;
}

.fake_form_input {
  display: flex;
  align-self: center;
  color: white;
}

.activate {
  background-color: #7289DA;
}

.modal_cancel_button {
  display: flex;
  cursor: pointer;
  color: white;
  font-size:15px;
  border: none;
  justify-content: center;
  background-color: #36393f;
  font-family: 'Mukta Mahee', sans-serif;
  height: 38px;
  width: 123px;
}

.modal_cancel_button:hover {
  text-decoration: underline;
}



/*INVITE MODAL*/

.modal_invite {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 366px;
  width: 440px;
  left: 50%;
  right: 50%;
  border: solid 1px black;
  transform: translate(-50%, +125%);
  max-width: 660px;
  max-height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
}

.invite_form_header {
  display: flex;
  padding: 0px, 40px;
}

.invite_header {
  display: flex;
  font-family: 'Mukta Mahee', sans-serif;
  align-items: center;
  color: #4f545c;
  font-size: 18px;
  padding-top: 28px;
  justify-content: center;
  font-weight: bolder;
}

/*EDIT MODAL*/

.edit_modal {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 300px;
  width: 700px;
  left: 50%;
  right: 50%;
  border: solid 1px black;
  transform: translate(-50%, +50%);
  max-width: 660px;
  background-color: #36393f;
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
}

.edit_form_wrapper {
  display: flex;
  width: 100%;
}

.edit_form {
  width: 100%;
}

.modal_edit_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50%;
  margin: 3%;
}

.modal_edit_button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font: white;
  background-color: #43b581;
  color: white;
  height: 38px;
  width: 80px;
  font-size:15px;
  border: none;
  justify-content: center;
  border-radius: 3px;
  font-family: 'Mukta Mahee', sans-serif;
}

.avatar_column {
  display: flex;
  height: 100%;
  width: 200px;
}

.avatar {
  height: 40%;
  width: 80%;
  margin-top: 30%;
  background-image: image-url("Avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.edit-icon {
  width: 10%;
  color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-icon .fa {
  font-size: 1.2em;
}
