.auth-outer {
  display: flex;
  background-image: image-url("dota-2-wallpaper-4.jpg");
  height: 100vh;
  /*width: 100vh;*/
}

 .auth-inner {
   display: flex;
   justify-content: center;
   position: relative;
   height: 100%;
   width: 100%;
 }

 .session-form-box {
   display: flex;
   justify-content: center;
   background-color: #23272A;
   color: #99AAB5;
   flex-direction: column;
   font-size: 16px;
   padding: 30px;
   width: 67%;
   height: 50%;
   opacity: 0.9;
 }

 .session-img {
   padding: 30px;
   width: 33%;
   height:50%;
   background-image: image-url("Discord-Logo.png");
   opacity: 0.9;
   background-position: center;
 }

 .session-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.register {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
}

.session-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
}

.form-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: white;
}

.session-input {
  background-color: transparent;
  color: #99AAB5;
  padding: 2px;
  width: 100%;
  height: 37px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.session-input:focus {
  border-bottom: solid #99AAB5;
}

.session-input:hover {
  -webkit-filter: brightness(150%);
}

.primary-button {
  display: flex;
  justify-content: center;
  background-color: #7289DA;
  color: white;
  border: none;
  border-radius: 3px;
  height: 35px;
  margin-top: 40px;
  font-size:12px;
}

.session-link {
  font-size: 10px;
  margin-top: 10px;
  line-height: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #99AAB5;
}

.session-redirect-link {
  font-size: 11px;
  color: white;
  text-decoration: none;
}

#guest-link {
  color: white;
}


.session-errors > * {
  background-color: #23272A;
  position: absolute;
  color: red;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px;
}
